# SQL Interview Questions  - Quiz


## Introduction

This quiz contains questions on topics you can expect to see in an interview pertaining to SQL and Relational Databases. Some of them are multiple choice, while some are short answer. For these short answer questions, double click on the Jupyter Notebook and type your answer below the line. 

## Question 1

What are the 4 main datatypes in SQLite3? Can we use other common types from other kinds of SQL?

Type your answer below this line:
_______________________________________________________________________________________________________________________________
- There are 4 main datatypes in SQLite3 namely:

- **1.TEXT**- For strings

- **2.BLOB**-  For   binary data like images and files

- **3.INTEGER**-  For whole numbers

- **4.REAL** -  For  floating point numbers




- Yes, SQLite is very flexible can one can use other common SQL data types like VARCHAR(100), BOOLEAN, or DATETIME, but SQLite will map them to one of its core types based on type affinity rules that is all other common data types are lumped into one of the four existing data types recognized by SQLite.




## Question 2

Explain the relationship between **Primary Keys** and **Foreign Keys**.

Type your answer below this line:
_______________________________________________________________________________________________________________________________

- **Primary key is a column that uniquely identifies a  row in a table** 
- **Foreign key is a column that references the primary key in another table**
- **The relationship is that a foreign key connects one table to another by referencing the primary key in that other table.**


## Question 3

Explain the different types of relationships entities can have in a SQL database. 

Type your answer below this line:

### The 3 types of relationship entities can have in a SQL database
#### 1.One to one relationship
- Each row in Table A is linked to one and only one row in Table B, and vice versa.

- Joining these tables doesn't increase the number of rows.
- Useful for separating rarely used data or sensitive info into a different table.
## Example:
- Each employee is assigned to one office.

#### 2.One-to-Many (1:N) Relationship
- A single row in Table A (parent) is related to many rows in Table B (child).

- When joined, the result includes multiple rows for each match in the "many" table.

- This is one of the most common relationships in databases.

## Example:
- One product line has many products.

#### 3.Many to Many  Relationship
- Multiple rows in Table A relate to multiple rows in Table B.

- These relationships are often handled through a junction (association) table.

- Without proper handling, such joins can create massive result sets (row explosion).

## Example: Students and Courses
- A student can enroll in many courses.

- A course can have many students enrolled.


## Question 4

Explain the various types of JOINs possible with SQL. 

Type your answer below this line:
_______________________________________________________________________________________________________________________________
In SQL, joins are used to combine rows from two or more tables based on related columns. The main types of joins include:

#### INNER JOIN (default JOIN):
Returns records that have matching values in both tables.

Example:

"""SELECT *
FROM orderdetails
JOIN products
ON orderdetails.productCode = products.productCode;"""

#### LEFT JOIN:
Returns all records from the left table and the matched records from the right table. If no match exists, NULL values are returned for the right table.

Example:

"""SELECT *
FROM products
LEFT JOIN orderdetails
ON products.productCode = orderdetails.productCode;"""

 SQL supports several other types of joins.

#### 1. RIGHT JOIN (or RIGHT OUTER JOIN) 
Returns all records from the right table and the matching records from the left table. If no match exists, NULL values are returned for the left table.

Example:

"""
SELECT *
FROM products
RIGHT JOIN orderdetails
ON products.productCode = orderdetails.productCode;"""
#### 2. FULL JOIN (or FULL OUTER JOIN)
Returns all records when there is a match in either the left or right table. If there is no match, the result is NULL from the table without a match.

Example:

"""

SELECT *
FROM products
FULL JOIN orderdetails
ON products.productCode = orderdetails.productCode;"""


## Question 5

Explain the relationship between Aggregate functions and GROUP BY statements.

Type your answer below this line:
_______________________________________________________________________________________________________________________________

Aggregate functions like SUM(), AVG(), COUNT(), MAX(), and MIN() are used to perform calculations across multiple rows of data — for example, totaling numbers or finding averages.

The GROUP BY clause works with these functions to organize rows into groups based on one or more column values. For each group, the aggregate function then computes a single summary value.
Together, they return one result per group with calculated summaries like totals or averages.

## Question 6

What role do Associative Entities play (JOIN Tables) in many-to-many JOINs?


Type your answer below this line:
_______________________________________________________________________________________________________________________________
Associative entities (join tables) handle many-to-many relationships by linking two tables using foreign keys.
Example: A student_course table links students and courses to show which student is enrolled in which course. They enable structured and efficient querying of related data.


## Summary

In this lesson, we practiced answering open-ended interview questions for SQL and Relational Databases.